/* define the image background */
.qr-container {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  max-width: 1440px;
  width: 25%;
  text-align: center;
  margin: 0 auto;
  margin-top: 0 auto;
  padding-bottom: 1.5em;
}

@media (max-width: 375px) {
  .qr-container {
    width: 90%;
    padding: 0.5em;
  }
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* define h2 font style */
h2 {
  color: hsl(218, 44%, 22%);
  font-size: 15px;
  font-family: "outfit", sans-serif;
  font-weight: 700;
}
/* define paragraph text font style */
p {
  color: black;
  font-size: 0.8rem;
  font-family: "outfit", sans-serif;
  font-weight: 400;
}

img {
  border-radius: 1em;
  width: 95%;
  height: auto;
}
